#result.alert.alert-block.alert-success
  %h2.alert-heading Your CAP Document Is Valid!
  %p The document you submitted has been validated as CAP #{ @alert.class::CAP_VERSION }.

#tabs
  %ul
    %li 
      %a{ :href => '#info_tab' }Alert Information
    %li
      %a{ :href => '#original_tab'}Original CAP XML
    %li
      %a{ :href => '#xml_tab' }Exported CAP XML


  #info_tab
    - polygons_present = @alert.infos.any?{ |info| info.areas.any?{ |area| area.polygons.any? }}
    - circles_present = @alert.infos.any?{ |info| info.areas.any?{ |area| area.circles.any? }}
    - map_required = polygons_present || circles_present

    - if map_required
      %h2 Alert Map
      %p 
        %strong 
          Click on the highlighted area for further alerting information
      #map
      %script{ :type => 'text/javascript' }
        var polygonsData = [
        = @alert.infos.map{ |info| info.areas.map{ |area| area.polygons.any? ? { 'description' => haml( :area_popup, :locals => { :alert => @alert, :info => info, :area => area }), 'polygons' => area.polygons.map( &:points ).map{ |points| points.map{ |point| [ point.longitude, point.lattitude ]}}}.to_json : nil }}.flatten.compact.join(',')
        ];

        var circlesData = [
        = @alert.infos.map{ |info| info.areas.map{ |area| area.circles.any? ? { 'description' => haml( :area_popup, :locals => { :alert => @alert, :info => info, :area => area }), 'circles' => area.circles.map{ |circle| [ circle.longitude, circle.lattitude, circle.radius ]}}.to_json : nil }}.flatten.compact.join(',')
        ];

      :javascript
        $( document ).ready( build_map );
    - else
      %h2 Alert Details
      - @alert.infos.each do |info|
        - info.areas.each do |area|
          = haml( :area_popup, :locals => { :alert => @alert, :info => info, :area => area })

  #original_tab
    = haml( :form )

  #xml_tab
    %h2 Exported CAP XML
    %p Below is a formatted version of the original CAP Alert.
    ~ CodeRay.scan( @xml_string, :xml).div

:javascript
  $(document).ready( function(){
    $('#tabs').tabs();
  });
